

body
{
    background-color: black;


    background-repeat: no-repeat;
}

h1
{
    color: gold;
    font-size: 60px;
    font-family: "Amaranth", cursive;
    font-weight: 900;

}
div
{
  background-color:  bisque;
}

h2
{
    color: white;
    font-family: "Lobster", cursive;
    font-weight: 600;

}
p
{

    color: purple;


}
h3
{
  font-size: 30px;
  color: black;
  font-family: "Brittanic Bold", cursive;
  /*text-decoration: underline;*/
  border-bottom-style: groove;
  display:inline;
  border-color: purple;
  border-width: 5px;


  /*
  border-left-style: groove;
  border-bottom-style: groove;
  display:inline;

  border-color: purple;
  border-width: 20px;
  font-size: 30px;
  */
}
ul
{
    color: purple;
}

form
{
  float: right;
  width: 300px;

  padding: 7px;
  color: white;






}
#submit
{
  padding: 7px;
  background: #6de624;
  border: 1px solid #6de624;
  color: white;



}
#submit:hover
{
    background: #333;
    transition: all 0.40s;
}
